@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:wght@586&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
body {
    background-color: whitesmoke;
}
/* HEADER */
header{
    display: flex;
    position: relative;
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-between; /* Логотип слева, меню по центру */
    top: 0;
    padding: 20px;
    z-index: 1000;
    background: white;
    box-shadow: -1px 0px 26px 8px rgba(0, 0, 0, 0.3);
}
.header__img {
    position: relative;
    margin: 5px;
    height: 70px;
    width: 70px;
    object-fit: contain;
}
.burger_media {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;  /* по умолчанию скрыта, включаем ниже */
    align-self: center;
  }
  .hor_menu{
    flex-grow: 1; /* Меню занимает оставшееся пространство */
   display: flex;
   justify-content: center; /* Центрируем меню */
}
.hor_menu ul {
   display: flex;
   list-style: none;
   padding-left: 0;
   margin: 0;
}
.hor_menu ul li {
   justify-content: left;
   font-size: 30px;
   font-family: "Cormorant Garamond", serif;
   font-weight: 500;
   list-style: none;
   position: relative;
   float: left;
   display: block;
   width: 180px; /* Фиксированная ширина для ровных блоков */
   text-align: center;
   box-sizing: border-box;
}
.hor_menu ul li a {
   text-decoration: none;
   padding: 12px;
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%; /* Делаем ссылку равной li */
   height: 100%;
   transition: .5s;
}
.hor_menu ul li a:hover {
   box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
@media (max-width: 768px) {
.burger_media {
    display: block;
}
.header__img {
    width: 40px;
    height: 40px;
  }
header {
    flex-direction: column; /* элементы будут располагаться друг под другом */
    align-items: flex-start; /* выравнивание по левому краю */
    padding: 10px;
    height: 50px;
}
.hor_menu_media {
    display: none;
  }
  /* Показываем меню при открытии (через JS добавляется класс .open) */
  .hor_menu_media.open {
    display: block;
    position: absolute;
    top: 60px; /* или сколько у тебя высота header */
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    z-index: 999;
  }
  .hor_menu_media ul {
    flex-direction: column;
    gap: 12px;
    padding-left: 0;
  }
  .hor_menu_media ul ul {
    display: none; /* скрываем подменю */
  }
  .hor_menu_media ul li:hover > ul {
    display: block; /* можно заменить на "по клику", если нужно*/ 
  }
  }
  /* HEADER */
.content{
    transition: .5s;
    position: relative;
    padding-bottom: 60px;
}
.content_active{
    transform: translateX(10%);
}
.floter {
    background-color: #DCDCDC;
    height: 200px;
    transition: .5s;
    position: sticky;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.floter_active {
    transform: translateX(10%);
}
/* Подменю */
.hor_menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    display: none;
    width: 180px; /* Делаем ширину такой же, как у li */
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.hor_menu ul li ul li {
    font-size: 20px;
    width: 100%; /* Делаем блок подменю на всю ширину */
}
.hor_menu ul li ul li a {
    display: block; /* Делаем ссылку блочной */
    width: 100%; /* Растягиваем на всю ширину блока */
    padding: 10px 15px; /* Добавляем отступы для удобства */
    text-align: left; /* Выравниваем текст */
}
.hor_menu ul li ul li ul {
    column-count: 2; /* Делим список на 2 колонки */
    border-bottom-right-radius:10px ;
    border-top-right-radius:10px ;
    position: absolute;
    left: 100%;
    top: 0; /* Выравниваем по строке */
    background-color: #FFFAFA;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    width: 400px; /* Делаем ширину такой же, как у основного меню */
    box-sizing: border-box;
}
.hor_menu ul li ul li:last-child {
    border-bottom: none;
}
/* Показываем подменю при наведении */
.hor_menu ul li:hover > ul {
    display: block;
}
/*Иконки социальных сетей */
.social{
    font-family: 'FontAwesome', sans-serif;
    display: flex;
    align-items:center;
    justify-content:center;
}
.social__icon{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 45px;
    height: 45px;
    margin: 15px;
    background-color: #f2f2f2;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000080;
    transition: all 0.3s ease;
    position: relative;
    overflow:hidden;
}
.social__icon i {
    font-size: 26px;
    color: #67798e;
    transition: all 0.3s ease;
    z-index: 1;
}
.social__icon:after{
    content: "";
    width: 70px;
    height: 70px;
    position:absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social__icon.instagram:after{
    background-color: #C71585;
}
.social__icon.vk:after{
    background-color: #3b5998;
}
.social__icon.whatsapp:after{
    background-color: #32CD32;
}
.social__icon.telegram:after{
    background-color: #00acee;
}
.social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 15px #00000080;
}
.social__icon:hover i{
    color: #fff;
}
.social__icon:hover:after{
    transform: translate(0);
}
/* Слайдер */
.slider{
    box-shadow: -1px 0px 26px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.navigation {
    z-index: 300;
    position: absolute;
    top: 550px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
}
.bar {
    height: 12px;
    width: 12px;
    margin: 6px;
    cursor: pointer;
    background-color: #555;
    opacity: .5;
    border-radius: 10px;
    transition:all .4s ease;
}
.bar:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}
.slides {
    width: 400%;
    height: 100%;
    display: flex;
}
.slide {
    width: 25%;
    transition: all .8s ease;
}
.slide img {
    object-fit:cover;
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}
.image__url {
    margin: 20px;
    display: flex;
    justify-content: space-between; /* Равномерное распределение */
    flex-wrap: wrap; /* Перенос на новую строку */
    align-items: stretch; /* Растягивает элементы на одинаковую высоту */
}
.picture_url {
    position: relative;
    display: flex;
    max-width: 300px; /* Ограничение ширины */
    width: 100%;
    text-align: center;
}
.picture_url.wide {
    max-width: 450px; /* "Женщины" будет шире */
}
.picture_url img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 650px; /* Все изображения одной высоты */
    object-fit: cover; /* Обрезка без искажений */
     border: 2px solid #ccc;
}
.image-text {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-shadow: #333;
    font-size: 30px;
    font-family: "Playfair", serif;
    font-weight: 500;
    padding: 5px 10px;
    text-align: right;
}
.picture_url:hover img{
    position: relative;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition:all .4s ease;
    opacity: .6;
}
/* БОКОВОЕ МЕНЮ */
.menu {
    border-bottom-right-radius: 20px;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 900;
    left: 0;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: #DCDCDC;
    box-shadow: -1px 0px 26px 8px rgba(0, 0, 0, 0.3);
    transition: .5s;
    transform: translateX(-100%);
}
.menu_active{
    transform: translateX(0%);
}
.menu_list {
    height: 70px;
    top: 170px;
    right: 15px;
    list-style: none;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: space-around;
}
.menu_list ul li{
    font-family: "Playfair", serif;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 150px;
    font-size: 24px;
    color: black;
}
.menu_list ul li a{
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
    transition: .5s;
}
.menu_list ul li a:hover{
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.menu_list ul li ul{
    width: 160px;
    padding-left: 0;
    position: absolute;
    left: 150px;
    top: 0;
    display: none;
    background-color: #DCDCDC;
    box-shadow: -1px 0px 26px 8px rgba(0, 0, 0, 0.3);
}
.menu_list ul li:hover ul{
    display: block;
}
.menu_list ul li ul li a{
    right: 5px;
    font-size: 17px;
    width: 160px;
    position: relative;
    white-space: nowrap;
    text-transform: none;
}
.menu_list ul li ul li a:hover{
    background-color: #D3D3D3;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.burger {
    position: fixed;
    top: 120px;
    left: 155px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.burger_active {
    transform: rotate(90deg);
}
/* Стили каталога */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.product-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.product-images {
    text-align: center;
    margin-top: 10px;
}
.product-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.product-card p {
    font-size: 1em;
    color: #555;
}
/* Контейнер для карточек */
.catalog {
    display: flex;            /* Включаем Flexbox */
    flex-wrap: wrap;          /* Если карточки не помещаются в одну строку, они переносятся */
    justify-content: center;
    gap: 20px;                /* Интервал между карточками */
    margin: 45px 20px 0 20px;           /* Отступы от краёв (справа и слева) */
}
.product {
    position: relative;
    overflow: hidden;
}
.new-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FF4500;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Убедимся, что метка всегда сверху */
}
.product:hover .new-label {
    display: block;
}
.product .main-img,
.product .hover-img {
    width: 100%;
    height: 75%;
    transition: opacity 0.5s ease;
}
.product .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.product:hover .main-img {
    opacity: 0;
}
.product:hover .hover-img {
    opacity: 1;
}
/* Стили для карточки товара */
.product {
    background-color: #fff;  /* Белый фон для карточки товара */
    border-radius: 15px;      /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Легкая тень для карточки */
    overflow: hidden;         /* Чтобы изображение не выходило за границы карточки */
    width: 350px;             /* Ширина карточки */
    height: 580px;            /* Высота карточки */
    text-align: center;       /* Текст по центру */
    position: relative;       /* Позиционирование */
    transition: transform 0.5s ease, box-shadow 0.5s ease;  /* Плавный эффект при наведении */
}
/* При наведении увеличиваем карточку и меняем тень */
.product:hover {
    transform: scale(1.05);  /* Карточка увеличивается при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Усиленная тень при наведении */
}
/* Стили для изображения товара */
.product img {
    width: 100%;  /* Изображение на всю ширину карточки */
    height: 75%;  /* Фиксированная высота для изображения */
    object-fit: cover;  /* Масштабируем изображение, чтобы оно заполнило контейнер */
    transition: opacity 0.3s ease;  /* Плавный переход для смены изображения */
}
/* Стили для второго изображения при наведении */
.product:hover img {
    opacity: 0;
}
/* Всплывающее изображение при наведении */
.product:hover .hover-img {
    opacity: 1;  /* Показывает второе изображение */
}
/* Стили для названия товара */
.product h2 {
    font-family: "Playfair", serif;
    font-size: 1.5em;  /* Уменьшаем размер шрифта для названия */
    font-weight: bold;  /* Жирное начертание */
    color: #333;  /* Темный цвет для текста */
}
/* Стили для описания товара */
.product p {
    font-family: "Playfair", serif;
    font-size: 1.0em;  /* Немного уменьшаем шрифт для описания */
    color: #666;  /* Светло-серый цвет текста */
    line-height: 1.2;  /* Межстрочный интервал */
    margin: 0 5px 5px 0px;  /* Отступы по бокам и снизу */
}
/* Стили для цены товара */
.product strong {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;  /* Уменьшаем шрифт для цены */
    color: black;  /* Синий цвет для выделения цены */
    display: block;  /* Цена на новой строке */
}
/* Стили для кнопки "Перейти" */
.product .btn {
    background-color: #555555;
    color: white;  /* Белый текст */
    border: none;
    padding: 10px 20px;  /* Отступы внутри кнопки */
    border-radius: 5px;  /* Скругленные углы */
    cursor: pointer;  /* Указатель при наведении */
    font-size: 1em;  /* Размер шрифта */
    transition: background-color 0.3s ease;  /* Плавное изменение фона */
}
.product .btn:hover {
    transform: none;
    background-color: #67798e;
    border: none;  /* Темнее фон при наведении */
}
/* Стили для деталях о товаре*/
.product-container {
   font-family: "Playfair", serif;
    gap: 20px;
    display: flex;
    background: white;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.product-image {
    width: 450px; /* Фиксированная ширина */
    height: 800px; /* Фиксированная высота */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Обрезка лишнего */
}
.product-image img {
    width: 100%; /* Заполняет всю ширину */
    height: 100%; /* Заполняет всю высоту */
    object-fit: cover; /* Обрезка, чтобы картинка не искажалась */
    transition: opacity 0.5s ease-in-out; /* Плавная смена */
    opacity: 1;
}
.product-image img.fade-out {
    opacity: 0; /* Исчезновение перед сменой */
}
.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
.thumbnails img:hover {
    transform: scale(1.1);
}
.product-image button {
    background: none;
    border: none;
    color: #dddddd;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transition: transform 0.5s ease, color 0.5s ease;
    transform: translateY(-50%);
    padding: 10px;
}
.product-image button:hover {
    color: #86989B;
    transform: translateY(-50%) scale(1.35);
}
.product-info {
    position: relative;
    left: 150px;
    display: flex;
    flex-direction: column;
}
.product-info h1 {
    font-size: 36px;
    font-weight: bold;
}
.product-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}
.size-options {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.size-options button {
    width: 50px;           /* фиксированная ширина */
    height: 50px;          /* фиксированная высота */
    background: white;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;    /* скругление углов (по желанию) */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;            /* убираем внутренние отступы */
}
.size-options button:hover {
    background: black;
    color: white;
}
.size-options button.selected {
    background: black;
    color: white;
}
.btn-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.buy-button {
    width: 200px;
    background: black;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.buy-button:hover {
    background: #dddddd;
    color: black;
}
.product-description {
    font-size: 24px;
    color: #333;
}
.section-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.product-size {
    white-space: pre-line;  /* Преобразует символы новой строки в разрывы строк */
    font-size: 21px;
    max-width: 600px;
}
.full-description{
    font-size: 21px;
    max-width: 600px;
    word-wrap: break-word;
}
/* Стили для кнопки "Назад" */
.back-button {
    font-family: "Playfair", serif;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    position: absolute;
    top: 5px;
    left: 40px;
    padding-bottom: 5px;
    transition: transform 0.3s ease; /* Добавляем плавное изменение масштаба */
}
/* Иконка слева от текста */
.back-button i {
    margin-right: 8px; /* Отступ между иконкой и текстом */
}
/* Псевдо-элемент для подчеркивания */
.back-button:hover {
    transform: scale(1.1); /* Скалируем элемент на 10% при наведении */
    color: black; /* Цвет текста при наведении */
}
/* Общие стили для контейнера */
.directory {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.block_dir {
    font-family: "Playfair", serif;
    max-height: 33vh;
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: flex-start; /* Выравнивание по левому краю */
    font-size: 18px;
    flex: 1;
    min-width: 250px;
}
/* Контейнер для иконки и заголовка */
.block_dir .title {
    display: flex;
    align-items: center; /* Выравниваем иконку и заголовок по центру */
    gap: 10px; /* Отступ между иконкой и заголовком */
}
/* Стили для иконок */
.block_dir i {
    margin-right: 10px;
    font-size: 36px;
}
/* Стили для текста в заголовке */
.block_dir span {
    font-size: 36px;
    font-weight: bold; /* Сделаем текст жирным */
}
/* Стили для текста в <p> */
.block_dir p {
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Гарантированный перенос слов */
    white-space: normal; /* Позволяет тексту переноситься */
    font-size: 24px;
    color: #777;
    margin-top: 15px; /* Отступ между заголовком и абзацем */
    max-width: 100%; /* Ограничиваем ширину, чтобы текст переносился */
}
.footer-links {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    gap: 50px; /* Отступ между ссылками */
    padding-bottom: 20px;
}
.footer-link {
    text-decoration: none;
    color: #777;
    font-size: 26px;
    transition: color 0.3s ease;
}
.footer-link:hover {
    color: #333; /* Темнее при наведении */
}
.cart-icon{
    font-size: 30px;
    margin-right: 40px;
    color: #555555;
    transition: all 0.5s ease;
}
.cart-icon:hover{
   color: black;
   transform: scale(1.1);
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}
/* Стили для корзины */
h1 {
    font-family: "Playfair", serif;
    padding-top: 50px;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}
.cart-items {
    list-style: none;
    padding: 0;
}
.cart-item {
    margin-left: 20px;
    font-family: "Playfair", serif;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
}
.cart-item-image {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 15px;
}
.cart-item-details {
    flex-grow: 1;
}
.cart-item-name {
    font-size: 20px;
    margin: 0;
    color: #333;
}
.cart-item-price {
    font-size: 20px;
    color: black;
}
.remove-item {
    margin-right: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.remove-item:hover {
    text-decoration: underline;
}
.cart-total {
    margin-left: 20px;
    font-family: "Playfair", serif;
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
    color: #333;
}
.continue-shopping {
    margin-left: 20px;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    background-color: #555555;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}
.continue-shopping:hover {
    background-color: black;
    transform: scale(1.1);
}
.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 1200;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}
.pop_up.active{
   transform: translateY(0%) scale(100%);
   background-color: rgba(0, 0, 0, .8);
}
.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body {
    margin: auto;
    width: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}
.pop_up_body p{
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}
.pop_up_body input{
    display: block;
    margin: 25px auto 0px auto;
    width: 300px;
    border-radius: 5px;
    font-family: Montserrat;
    border: none;
    font-size: 18px;
    font-weight: 500px;
    color: #86989B;
}
.pop_up_body input:focus{
    outline: none;
}
.pop_up_body button{
    cursor: pointer;
    display: block;
    width: 150px;
    background-color:#a0a0a0;
    border-radius: 5px;
    border: none;
    margin: 30px auto 0px auto;
    padding: 10px 0px;
}
.pop_up_close {
    color: black;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}
#toast {
    display: none;
    position: fixed;
    top: 4rem;
    right: 4rem;
    background-color: #38a169; 
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
}
#toast.show {
    display: block;
    opacity: 1;
}
#cdek-widget {
    margin: auto;
    width: 100%;
    height: 200px;
    background-color: #f0f0f0; 
}
.cookie-banner {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    background-color: #fff;
    color: #333;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 70%;
    max-width: 800px;
    text-align: center;
    font-size: 16px;
    font-family: "Playfair", serif;
    font-weight: bold; 
    opacity: 0;
    transition: all 0.6s ease;
}
.cookie-banner.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
.cookie-banner .cookie-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cookie-actions {
    margin-top: 8px; 
    display: flex;
    gap: 8px; 
    flex-wrap: wrap;
    justify-content: center;
}
.cookie-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    font-family: "Playfair", serif;
    font-weight: bold; 
}

.cookie-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.cookie-warning {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    max-width: 600px;
    text-align: center;
    font-size: 14px;
    font-family: "Playfair", serif;
    font-weight: bold; 
    z-index: 1001;
}
#cookie-settings {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    font-weight: bold;
    font-family: "Playfair", serif;
    display: none; 
}
#cookie-settings:hover {
    background-color: #45a049;
}
.new-arrivals {
    opacity: 0; /* Изначально скрыта */
    transform: translateY(50px); /* Сдвиг по оси Y */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Плавное появление */
    font-size: 56px;
    font-family: "Playfair", serif;
    font-weight: bold;
    text-align: left;
    margin: 30px 0 30px 30px;
}
.new-arrivals.visible {
    opacity: 1; /* Делает элемент видимым */
    transform: translateY(0); /* Возвращает элемент в исходное положение */
}
.btn {
    background-color: white; 
    border: 2px solid black; 
    padding: 10px 45px; 
    font-size: 24px; 
    border-radius: 0;
    font-weight: bold; 
    color: black; 
    font-family: "Playfair", serif;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center; 
    margin: 0 auto; 
    box-sizing: border-box;
}
/* Центрирование кнопки на странице */
.center-btn-container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}
/* Эффект при наведении */
.btn:hover {
    border: 2px solid black; 
    background-color: rgb(207, 206, 206); 
    transform: translateY(-3px); 
}
/* Стили для ссылки внутри кнопки */
.btn a {
    color: black; 
    text-decoration: none; 
    display: block; 
}

