<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">

    <title>{% block title%}{%endblock%}</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@cdek-it/widget@3" charset="utf-8"></script>
</head>
<body data-order-success="{{ 'true' if order_success else 'false' }}">
<div class="page">
   <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <button class="burger_media" aria-label="Открыть меню">☰</button>
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img class="header__img" src="{{url_for('static', filename='img/icon.png')}}" alt="law">
        </a>
      </div>
      <nav id="mobileMenu" class="hor_menu">
        <ul>
        <li><a href="{{url_for('index')}}" >Главная</a></li>
        <li><a href="{{url_for('catalog')}}" id="catalogLink" class="{% if not selected_category %}active{% endif %}">Каталог</a>
              <ul>
                  <li><a href="{{ url_for('catalog', category='women') }}">Женщины</a>
                      <ul>
                        <li><a href="{{ url_for('catalog', name='Джемпер') }}">Джемперы</a></li>
                        <li><a href="{{ url_for('catalog', name='Свитер') }}">Свитеры</a></li>
                        <li><a href="{{ url_for('catalog', name='Кардиган') }}">Кардиганы</a></li>
                        <li><a href="{{ url_for('catalog', name='Жилет') }}">Жилеты</a></li>
                        <li><a href="{{ url_for('catalog', name='Костюм') }}">Костюмы</a></li>
                        <li><a href="{{ url_for('catalog', name='Юбка') }}">Юбки</a></li>
                        <li><a href="{{ url_for('catalog', name='Футболка') }}">Футболки и топы</a></li>
                      </ul>
                  </li>
                  <li><a href="{{ url_for('catalog', category='men') }}">Мужчины</a>
                      <ul>
                         <li><a href="{{ url_for('catalog', name='Джемпер') }}">Джемперы</a></li>
                         <li><a href="{{ url_for('catalog', name='Свитер') }}">Свитеры</a></li>
                      </ul>
                  </li>
                  <li><a href="{{ url_for('catalog', category='acs') }}">Аксессуары</a>
                      <ul>
                        <li><a href="{{ url_for('catalog', name='Шарф') }}">Шарфы</a></li>
                        <li><a href="{{ url_for('catalog', name='Шапка') }}">Шапки</a></li>
                        <li><a href="{{ url_for('catalog', name='Палантин') }}">Палантины</a></li>
                      </ul>
                  <li><a href="{{url_for('sale')}}" >Распродажа</a></li>
              </ul>
        </li>
        <li><a href="{{url_for('new')}}">Новинки</a></li>
        <li><a href="{{url_for('client')}}">Покупателям</a></li>
        <li><a href="{{url_for('about')}}">О Нас</a></li>
      </ul>
      </nav>
      <a href="{{ url_for('cart') }}" class="fa fa-shopping-basket cart-icon position-relative">
        {% if cart_item_count > 0 %}
            <span class="cart-count">{{ cart_item_count }}</span>
        {% endif %}
    </a>
    </header>
<div class="vert_menu">
    {%block menu%}{%endblock%}
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
    <div class="floter">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
       <img class="header__img" src="{{url_for('static', filename='img/icon.png')}}" alt="law">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© CARDIGA NICK</span>
    </div>
        <div class="footer-links d-flex justify-content-center">
        <a href="{{url_for('catalog')}}" class="footer-link">Каталог</a>
        <a href="{{url_for('new')}}" class="footer-link">Новинки</a>
        <a href="{{url_for('client')}}" class="footer-link">Покупателям</a>
        <a href="{{url_for('about')}}" class="footer-link">О Нас</a>
    </div>
                        <div class="social">
                          <a class="social__icon instagram" href="https://instagram.com/cardiga_nick">
                            <i class="fa fa-instagram"></i>
                          </a>
                          <a class="social__icon vk" href="https://vk.com/cardiga_nick">
                            <i class="fa fa-vk"></i>
                          </a>
                          <a class="social__icon whatsapp" href="https://wa.me/79090017779">
                            <i class="fa fa-whatsapp"></i>
                          </a>
                          <a class="social__icon telegram" href="https://t.me/cardiga_nick">
                            <i class="fa fa-telegram"></i>
                          </a>
                        </div>
                      </div>
                      <div class="chat-toggle">
                        <i class="fas fa-comment"></i>
                    </div>
  </footer>
        </div>
</div>
  <!-- Баннер для согласия с куками -->
  <div id="cookie-banner" class="cookie-banner">
    <div class="cookie-content">
      <p>Мы используем Сookie для улучшения работы сайта. Нажмите "Принять", чтобы согласиться с их использованием. Если вы отклоните Сookie, корзина не будет сохраняться между сессиями.</p>
      <div class="cookie-actions">
        <button id="accept-cookies" class="cookie-button">Принять</button>
        <button id="decline-cookies" class="cookie-button">Отклонить</button>
      </div>
    </div>
  </div>
  <button id="cookie-settings" style="display: none;">Настройки Сookie</button>
  <!-- Предупреждение для пользователя, если куки отклонены -->
  <div id="cookie-warning" class="cookie-warning" style="display: none;">
    <p>Внимание: Для сохранения корзины в вашем браузере необходимо включить Сookie. Пожалуйста, включите Сookie для корректной работы корзины.</p>
  </div>
<div id="toast" class="hidden position-fixed top-0 end-0 m-3 bg-success text-white p-2 rounded shadow">
  Заказ отправлен изготовителю!
</div>
<div class="pop_up" id="pop_up">
  <div class="pop_up_container">
      <div class="pop_up_body" id="pop_up_body">
          <p>Заполнить форму</p>
          <form id="form" action="/buy" method="post">
              <input type="hidden" id="selectedSize" name="selectedSize" value="">
              <input type="text" name="firstName" placeholder="Имя">
              <input type="text" name="lastName" placeholder="Фамилия">
              <input type="text" name="middleName" placeholder="Отчество (при наличии)">
              <input type="text" name="phone" placeholder="Номер телефона">
              <input type="text" name="email" placeholder="Электронная почта">
              <!-- Скрытые поля с данными о товаре -->
              {% if product %}
                  <input type="hidden" name="product_name" value="{{ product.name }}">
                  <input type="hidden" name="product_price" value="{{ product.price }}">
                  <input type="hidden" name="product_description" value="{{ product.description}}">
                  <input type="hidden" name="product_id" value="{{ product.id }}">
                  <input type="hidden" name="product_url" value="{{ request.url }}">
              {% endif %}
              {% if cart %}
                  {% for product_id, item in cart.items() %}
                      <input type="hidden" name="cart_items" value="{{ item.name }}">
                      <input type="hidden" name="cart_item_description" value="{{ item.description }}">
                      <input type="hidden" name="cart_item_price" value="{{ (item.price * (1 - item.sale / 100)) | round(0, 'floor') | int if item.sale else item.price }}">
                      <input type="hidden" name="cart_item_old_price" value="{{ item.price }}">
                      <input type="hidden" name="cart_item_quantity" value="{{ item.quantity }}">
                  {% endfor %}
              {% endif %}
              <!-- Контейнер для виджета СДЭК -->
              <div id="cdek-map" style="width:400px; height:100px;"></div>
              <button id="open_pop_up"> Купить </button>
          </form>
          <div class="pop_up_close" id="pop_up_close">&#65794</div>
      </div>
  </div>
</body>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="https://widget.cdek.ru/widget/cdek-widget.min.js"></script>
</html>