{% extends 'base.html' %}

{% block title%}
Каталог
{% endblock %}
{%block menu %}
    <div class="wrapper">
        <div class="menu">
            <i class="fa fa-bars fa-2x burger"></i>
            <nav class="menu_list">
                <ul>
                <li><a href="{{ url_for('catalog', category='women') }}" >Женщины</a>
                    <ul>
                        <li><a href="{{ url_for('catalog', name='Джемпер') }}">Джемперы</a></li>
                        <li><a href="{{ url_for('catalog', name='Свитер') }}">Свитеры</a></li>
                        <li><a href="{{ url_for('catalog', name='Кардиган') }}">Кардиганы</a></li>
                        <li><a href="{{ url_for('catalog', name='Костюм') }}">Костюмы</a></li>
                        <li><a href="{{ url_for('catalog', name='Юбка') }}">Юбки</a></li>
                        <li><a href="{{ url_for('catalog', name='Футболка') }}">Футболки и топы</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('catalog', category='men') }}" >Мужчины</a>
                     <ul>
                        <li><a href="{{ url_for('catalog', name='Джемпер') }}">Джемперы</a></li>
                         <li><a href="{{ url_for('catalog', name='Свитер') }}">Свитеры</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('catalog', category='acs') }}" >Аксесcуары</a>
                    <ul>
                        <li><a href="{{ url_for('catalog', name='Шарф') }}">Шарфы</a></li>
                        <li><a href="{{ url_for('catalog', name='Шапка') }}">Шапки</a></li>
                        <li><a href="{{ url_for('catalog', name='Палантин') }}">Палантины</a></li>
                    </ul>
                </li>
                <li><a href="{{url_for('sale')}}" >Распродажа</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
<form action="{{ url_for('catalog') }}" method="get" class="search-form">
    <input type="text" name="search" placeholder="Поиск по названию или описанию..." value="{{ request.args.get('search', '') }}">
    <button type="submit"><i class="fa fa-search"></i> Найти</button>
</form>
    <div class="catalog">
        {% for product in products %}
            <div class="product">
    {% if product.image_url %}
        <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}" class="main-img">
        <img src="{{ url_for('static', filename=product.image_url_back) }}" alt="{{ product.name }}" class="hover-img">
    {% else %}
        <img src="https://via.placeholder.com/150" alt="{{ product.name }}">
    {% endif %}
    <h2>{{ product.description }}</h2>
    <p>{{ product.name }}</p>
    <p><strong>{{ product.price | int }} ₽</strong></p>
        <a href="{{ url_for('product_detail', product_id=product.id, product_type='product') }}">
        <button class="btn">Перейти</button>
        </a>
    </div>
        {% else %}
            <p>Товары не найдены</p>
        {% endfor %}
    </div>
{% endblock %}