{% extends 'base.html' %}


{% block title%}
Страница для покупателя
{% endblock %}
{% block content %}
<div class="faq-container">
    <button class="faq-toggle">
      Часто задаваемые вопросы
      <span class="arrow">&#9662;</span>
    </button>
    <div class="faq-section">
      <div class="faq-item">
        <button class="faq-question">
          Что такое вязаная одежда?
          <span class="arrow">&#9662;</span>
        </button>
        <div class="faq-answer">
          <p>Вязаная одежда — это изделия, изготовленные с использованием техники вязания...</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-question">
          Как выбрать размер одежды?
          <span class="arrow">&#9662;</span>
        </button>
        <div class="faq-answer">
          <p>Измерьте свои параметры и сверяйтесь с таблицей размеров на сайте...</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-question">
          Какие способы оплаты доступны?
          <span class="arrow">&#9662;</span>
        </button>
        <div class="faq-answer">
          <p>Мы принимаем карты Visa, MasterCard, PayPal и другие способы...</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-question">
          Можно ли вернуть товар?
          <span class="arrow">&#9662;</span>
        </button>
        <div class="faq-answer">
          <p>Да, в течение 14 дней при соблюдении условий возврата...</p>
        </div>
      </div>
    </div>
  </div>  
{% endblock %}