{% extends 'base.html' %}

{% block title%}
CARDIGA NICK
{% endblock %}
{% block content %}
<div class="slider">
    <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">

        <div class="slide s1"><img src="{{url_for('static', filename='img/slide1.jpg')}}" alt="law"></div>
        <div class="slide"><img src="{{url_for('static', filename='img/slide2.jpg')}}" alt="law"></div>
        <div class="slide"><img src="{{url_for('static', filename='img/slide3.jpg')}}" alt="law"></div>
        <div class="slide"><img src="{{url_for('static', filename='img/slide4.jpg')}}" alt="law"></div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
        </div>

    </div>
</div>
<div class="image__url">
    <a href="{{ url_for('catalog', category='women') }}" class="picture_url wide">
        <img src="{{url_for('static', filename='img/women.png')}}" alt="Женщины">
        <div class="image-text">Женщинам</div>
    </a>
    <a href="{{ url_for('catalog', category='men') }}" class="picture_url">
        <img src="{{url_for('static', filename='img/men.png')}}" alt="Мужчины">
        <div class="image-text">Мужчинам</div>
    </a>
    <a href="{{ url_for('catalog', category='acs') }}" class="picture_url">
        <img src="{{url_for('static', filename='img/acses.png')}}" alt="Аксессуары">
        <div class="image-text">Аксессуары</div>
    </a>
    <a href="{{url_for('catalog')}}" class="picture_url">
        <img src="{{url_for('static', filename='img/sale.png')}}" alt="Распродажа">
        <div class="image-text">Распродажа</div>
    </a>
</div>
<div class="directory">
    <h1 class="block_dir">
        <span><i class="fa fa-map-marker"></i>Доставка по всей России</span>
        <p>Мы заботимся о том, чтобы ваша покупка была доставлена вовремя и в целости. Оформите заказ, и мы привезем ваши вязаные изделия в любую точку России с максимальной удобством для вас!</p>
    </h1>
    <h1 class="block_dir">
        <span> <i class="fa fa-hand-scissors-o"></i>Ручная работа с любовью</span>
        <p>Каждое изделие создается вручную с вниманием к деталям и заботой о качестве. Мы вкладываем душу в каждую петлю, чтобы вы могли наслаждаться не только красотой, но и комфортом наших вязаных вещей.</p>
    </h1>
    <h1 class="block_dir">
        <span><i class="fa fa-diamond"></i>Авторские принты</span>
        <p>Каждое наше изделие — это уникальный дизайн, разработанный талантливыми мастерами. Авторские принты и эксклюзивные узоры, которые добавят ярких акцентов в ваш гардероб и подчеркнут ваш стиль.</p>
    </h1>
</div>
<h2 class="new-arrivals">Новинки</h2>
<div class="catalog">
    {% for product in products %}
        <div class="product">
                <div class="new-label">New</div>
            {% if product.image_url %}
                <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}" class="main-img">
                <img src="{{ url_for('static', filename=product.image_url_back) }}" alt="{{ product.name }}" class="hover-img">
            {% else %}
                <img src="https://via.placeholder.com/150" alt="{{ product.name }}">
            {% endif %}
            <h2>{{ product.description }}</h2>
            <p>{{ product.name }}</p>
            <p><strong>{{ product.price }} ₽</strong></p>
                <a href="{{ url_for('product_detail', product_id=product.id, product_type='new_product') }}">
                <button class="btn">Перейти</button>
                </a>
        </div>
    {% else %}
        <p>Товары не найдены</p>
    {% endfor %}
</div>
<div class="center-btn-container">
    <button class="btn"><a href="{{ url_for('new') }}">Все новинки</a></button>
</div>
{% endblock %}