{% extends 'base.html' %}

{% block title %}
Новые товары
{% endblock %}

{% block content %}


<div class="catalog-notice">
    <p>*Цены зависят от выбранного размера и наличия. Актуальную стоимость уточняйте при заказе.</p>
</div>

<div class="catalog">

    {% for product in products %}
    <a href="{{ url_for('product_detail', product_id=product.id, product_type='new_product') }}">

        <div class="product">

            <div class="new-label">New</div>

            <div class="product-images">

                {% if product.image_url %}
                    <img src="{{ product.image_url }}" class="main-img">
                         alt="{{ product.name }}" 
                         class="main-img">

                  {% if product.image_url_back %}
                        <img src="{{ product.image_url_back }}" class="hover-img">
                    {% endif %}

                {% else %}
                    <img src="https://via.placeholder.com/150" class="main-img">
                {% endif %}

            </div>

            <div class="product-content">

                <h3>{{ product.description }}</h3>

                {% if product.details and product.details[0].composition %}
                    <p class="composition">
                        {{ product.details[0].composition }}
                    </p>
                {% endif %}

                <p class="price">
                    от {{ product.price | int }}
                </p>

            </div>

        </div>

    </a>

    {% else %}
        <p>Товары не найдены</p>
    {% endfor %}

</div>

{% endblock %}