{% extends "base.html" %}
{% block title%}
{{ product.name }} {{ product.description }}- Купить в нашем магазине
{% endblock %}
{% block content %}
    <div class="product-container">
     <div class="thumbnails">
            <img class="thumbnail" src="{{ url_for('static', filename=product.image_url_back) }}" alt="Thumbnail 1">
            <img class="thumbnail" src="{{ url_for('static', filename=product.image_url) }}" alt="Thumbnail 2">
            <img class="thumbnail" src="{{ url_for('static', filename=product.image_url) }}" alt="Thumbnail 3">
     </div>
        <div class="product-image">
            <button class="fa fa-chevron-left" onclick="prevImage()"></button>
            <img id="mainImage" src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}">
            <button class="fa fa-chevron-right" onclick="nextImage()"></button>
        </div>
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="product-description">{{ product.description }}</p>
            <strong class="product-price">Цена: {{ product.price }} ₽</strong>
            <button class="buy-button">Купить</button>
        </div>
    </div>
{% endblock %}