{% extends "base.html" %}
{% block title%}
{{ product.name }} {{ product.description }}- Купить в нашем магазине
{% endblock %}
{% block content %}
    <div class="product-container">
     <div class="thumbnails">
            {% if details.extra_image1 %}
        <img class="thumbnail" src="{{ url_for('static', filename=details.extra_image1) }}" alt="Thumbnail 1">
    {% endif %}

    {% if details.extra_image2 %}
        <img class="thumbnail" src="{{ url_for('static', filename=details.extra_image2) }}" alt="Thumbnail 2">
    {% endif %}

    {% if details.extra_image3 %}
        <img class="thumbnail" src="{{ url_for('static', filename=details.extra_image3) }}" alt="Thumbnail 3">
    {% endif %}

    {% if details.extra_image4 %}
        <img class="thumbnail" src="{{ url_for('static', filename=details.extra_image4) }}" alt="Thumbnail 4">
    {% endif %}

    {% if details.extra_image5 %}
        <img class="thumbnail" src="{{ url_for('static', filename=details.extra_image5) }}" alt="Thumbnail 5">
    {% endif %}

    {% if details.extra_image6 %}
        <img class="thumbnail" src="{{ url_for('static', filename=details.extra_image6) }}" alt="Thumbnail 6">
    {% endif %}
     </div>
        <div class="product-image">
            <button class="fa fa-chevron-left" onclick="prevImage()"></button>
            <img id="mainImage" src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}">
            <button class="fa fa-chevron-right" onclick="nextImage()"></button>
        </div>
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="product-description">{{ product.description }}</p>
            <strong class="product-price">Цена: {{ product.price }} ₽</strong>
            <button class="buy-button">Купить</button>
        </div>
    </div>
{% endblock %}